@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <a href="http://127.0.0.1:5000">ItemDBEditor</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
